 
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/*html{
  scroll-behavior: auto;
}*/
body {
  background: #fff;
  color: #444;
  font-family: "Roboto", sans-serif; 
}

a {
  color: #007bff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #81b9ee;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  /*height: 80px;*/
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  /*padding: 20px 0;*/
  background: #1b6a95;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

/*#header.header-scrolled,
#header.header-pages {
  height: 60px;
  padding: 10px 0;
}*/
.logo a{
  /*background-color: #fff;*/
  padding-bottom: 20px;
  padding-top: 20px;
  display: block;
  text-align: center;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 7px 0;
  max-height: 26px;
}

.main-pages {
  margin-top: 60px;
}

/*--------------------------------------------------------------
# Trip Sumary
--------------------------------------------------------------*/

#trip_summary {  
  width: 100%;
  position: relative;
  background: url("../images/leh-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0 80px 0;
    margin-top: 81px;
}
#trip_summary:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10,129,109,.6);
}
.sidebar{
     margin-top: 95px;
}


.fixed {    
    position: fixed;     
    top: 95px; 
    width: 350px;
    transition: top .3s ease-in-out;
    -webkit-transition: top .3s ease-in-out;    
} 
@media (max-width: 1100px){
  .fixed {
    width: 289px;
  }
}

@media (max-width: 800px){
  .fixed {
    width: 226px;
  }
}

.stay_middle{
   transition: all .3s ease;
    -webkit-transition: all .3s ease; 
}
.sidebar form{
  background-color: #fff;
  /*box-shadow: 0 1px 10px rgba(0,0,0,.2);*/
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.2);
  -webkit-box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.2);
  border-radius: 10px;
  padding: 20px;

}
.ltinerary_title{
       font-size: 16px;
    color: #314b5e;
    margin-bottom: 10px;
    padding: 10px;
} 
.related_product{
  margin-top: 40px;
}
.card_panel{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 20px;
    display: block; 
    transition: all 0.3s ease-in-out;
    text-align: center;
}
.gallery_img{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 20px;
    display: block; 
    transition: all 0.3s ease-in-out;
}
.card_panel img, .gallery_img img{
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  max-width: 100%;
}

.card_panel:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

/*#trip_summary .intro-img {
  width: 50%;
  float: right;
}*/

/*#trip_summary .intro-info {
  width: 50%;
  float: left;
}*/

.itinerary_title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}
.itineraries_list{
  padding: 15px 15px 0 15px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
.custom_row{
  padding-left: 15px;
  padding-right: 15px;
}
.itineraries_list ul {
    list-style: none; 
    margin: 0;
    padding-left: 0;
}
.itineraries_list li {
    border-bottom: 1px solid #d9d9d9;
    padding-top: 8px;
    padding-bottom: 8px;
}
.itineraries_list li:first-child{
  padding-top: 0;
}
.itineary_icon {
    color: #1b6a95;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}
.itineraries_list li:last-child {
    border-bottom: none;
}
.section_title{
  font-size: 21px;
  color: #314b5e;
  font-weight: 500;
  margin-bottom: 20px;
}
.font-weight-500{
  font-weight: 500;
}
#trip_summary .intro-info h2 span {
  color: #74b5fc;
  text-decoration: underline;
}

/*#trip_summary .intro-info .btn-get-started,
#trip_summary .intro-info .btn-services {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #fff;
}
#trip_summary .intro-info .btn-get-started {
  background: #007bff;
  border: 2px solid #007bff;
  color: #fff;
}

#trip_summary .intro-info .btn-get-started:hover {
  background: none;
  border-color: #fff;
  color: #fff;
}

#trip_summary .intro-info .btn-services {
  border: 2px solid #fff;
}

#trip_summary .intro-info .btn-services:hover {
  background: #007bff;
  border-color: #007bff;
  color: #fff;
}*/

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav,
.main-nav * {
  margin: 0;
  /*padding: 0;*/
  list-style: none;
  text-align: right;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  display: inline-block;
}

.main-nav a {
  display: block;
  position: relative;
  color: #daedff;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Roboto", sans-serif;  
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: #212121;
  background-color: #fff;
  text-decoration: none;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
}

/*.main-nav a:hover:before,
.main-nav .active > a:before,
.main-nav li:hover > a:before {
      content: "";
    display: block;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 1px;
    height: 1px;
    position: absolute;
    bottom: -10px;
    left: 35%;
}*/

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  color: #004289;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #007bff;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(27, 106, 149, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #74b5fc;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
      border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    cursor: pointer;
    line-height: 1;
    cursor: pointer;
    float: right;
}

.mobile-nav-toggle i {
  margin: 0;
  color: #004289;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(19, 39, 57, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}

/* Section with background
--------------------------------*/

.section-bg {
  background: #d4eaff;
/*  background-color: #fff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%238dc3f6' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2393c6f7' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2398caf7' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%239ecdf8' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23a3d0f9' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23b3d7fa' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23c1dffc' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23d0e6fd' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23deedfe' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ecf5ff' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;*/
}

/* About Us Section
--------------------------------*/

#detailed_itinerary {
  background: #fff;
  padding: 60px 0;
}
.itineraries_des{
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
.itineraries_des p{
  margin-bottom: 10px;
}
#detailed_itinerary .detailed_itinerary_container .background {
  margin: 20px 0;
}
.detailed_itinerary_container ul{
  list-style: none;
  padding-left: 0;
}
#detailed_itinerary .detailed_itinerary_container .content {
  background: #fff;
}

/*#detailed_itinerary .detailed_itinerary_container .title {
  color: #333;
  font-weight: 500;
  font-size: 32px;
}*/

#detailed_itinerary .detailed_itinerary_container p {
  line-height: 26px;
}

#detailed_itinerary .detailed_itinerary_container p:last-child {
  margin-bottom: 0;
}

#detailed_itinerary .detailed_itinerary_container li {
  background: #fff;
  background-size: cover;
  padding-bottom: 10px;
}

#detailed_itinerary .detailed_itinerary_container .icon-box .icon {
  float: left;
  background: #fff;
  font-weight: 500;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #81b9ee;
  color: #81b9ee;
  transition: all 0.3s ease-in-out;
}

#detailed_itinerary .detailed_itinerary_container .icon-box .icon i {
  color: #007bff;
  font-size: 24px;
}

/*#detailed_itinerary .detailed_itinerary_container .icon-box:hover .icon {
  background: #007bff;
}*/

#detailed_itinerary .icon-box:hover .icon i {
  color: #fff;
}
.itinerary_right{
  margin-left: 80px;
}
#detailed_itinerary .icon-box .title { 
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 14px;
}

#detailed_itinerary .icon-box .title a {
  color: #283d50;
}

#detailed_itinerary .icon-box .description { 
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

#detailed_itinerary .about-extra {
  padding-top: 60px;
}

#detailed_itinerary .about-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

/* Services Section
--------------------------------*/

#inclusions_and_exclusions {
  padding: 40px 0 40px 0; 
}
#inclusions_and_exclusions ul{
  padding-left: 0;
}
#inclusions_and_exclusions .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}

#inclusions_and_exclusions .box:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

#inclusions_and_exclusions .icon {
  position: absolute;
  left: -10px;
  top: calc(50% - 32px);
}

#inclusions_and_exclusions .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

#inclusions_and_exclusions .title {
  margin-left: 40px;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 18px;
}

#inclusions_and_exclusions .title a {
  color: #111;
}

#inclusions_and_exclusions .box:hover .title a {
  color: #007bff;
}

#inclusions_and_exclusions .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

#why-us {
  padding: 60px 0;
  background: #004a99;
}

#why-us .section-header h3,
#why-us .section-header p {
  color: #fff;
}

#why-us .card {
  background: #00458f;
  border-color: #00458f;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s ease-in-out;
  height: 100%;
}

#why-us .card:hover {
  background: #003b7a;
  border-color: #003b7a;
}

#why-us .card i {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#why-us .card h5 {
  font-size: 22px;
  font-weight: 600;
}

#why-us .card p {
  font-size: 15px;
  color: #d8eafe;
}

#why-us .card .readmore {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border-bottom: #00458f solid 2px;
}

#why-us .card .readmore:hover {
  border-bottom: #fff solid 2px;
}

#why-us .counters {
  padding-top: 40px;
}

#why-us .counters span {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #fff;
}

#why-us .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #cce5ff;
}

/* gallery Section
--------------------------------*/

#gallery {
  padding: 30px 0;
  /*box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);*/
}
#gallery .owl-nav{
  margin-top: 20px;
}
#gallery .owl-nav span{
  font-size: 30px;
}
#gallery .owl-prev{
      margin-right: 5px;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
#gallery .owl-next{
      margin-left: 5px;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
/*

#gallery #gallery-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#gallery #gallery-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #007bff;
  border-radius: 50px;
  text-transform: uppercase;
  background: #ecf5ff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#gallery #gallery-flters li:hover,
#gallery #gallery-flters li.filter-active {
  background: #007bff;
  color: #fff;
}

#gallery #gallery-flters li:last-child {
  margin-right: 0;
}

#gallery .gallery-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#gallery .gallery-item .gallery-wrap {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  margin: 0;
}

#gallery .gallery-item .gallery-wrap:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#gallery .gallery-item .gallery-wrap .gallery-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}

#gallery .gallery-item .gallery-wrap .gallery-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 500;
  margin-bottom: 14px;
  padding-bottom: 0;
}

#gallery .gallery-item .gallery-wrap .gallery-info h4 a {
  color: #fff;
}

#gallery .gallery-item .gallery-wrap .gallery-info h4 a:hover {
  color: #007bff;
}

#gallery .gallery-item .gallery-wrap .gallery-info p {
  padding: 0;
  margin: 0;
  color: #e2effe;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

#gallery .gallery-item .gallery-wrap .gallery-info .link-preview,
#gallery .gallery-item .gallery-wrap .gallery-info .link-details {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #007bff;
  border-radius: 50%;
  margin: 10px 4px 0 4px;
}

#gallery .gallery-item .gallery-wrap .gallery-info .link-preview i,
#gallery .gallery-item .gallery-wrap .gallery-info .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #fff;
}

#gallery .gallery-item .gallery-wrap .gallery-info .link-preview:hover,
#gallery .gallery-item .gallery-wrap .gallery-info .link-details:hover {
  background: #3395ff;
}

#gallery .gallery-item .gallery-wrap .gallery-info .link-preview:hover i,
#gallery .gallery-item .gallery-wrap .gallery-info .link-details:hover i {
  color: #fff;
}

#gallery .gallery-item .gallery-wrap:hover {
  background: #003166;
}

#gallery .gallery-item .gallery-wrap:hover .gallery-info {
  opacity: 1;
}*/

/* Testimonials Section
--------------------------------*/

#testimonials {
  padding: 60px 0;
  /*box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);*/
}

#testimonials .section-header {
  margin-bottom: 40px;
}

.testimonial-img {
  width: 90px;
  border-radius: 50%;
  -webkit-border-radius: 50%;  
}

#testimonials .title {
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0 5px 0;
  color: #314b5e; 
}

#testimonials .designation {
  font-size: 12px;
  color: #999;
  margin: 0 0 5px 0; 
}

 

#testimonials .owl-nav,
#testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #62a4e2;
}

/* Team Section
--------------------------------*/

#team {
  background: #fff;
  padding: 60px 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

#team .member .member-info {
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

#team .member .member-info-content {
  margin-top: 50px;
  transition: margin 0.2s;
}

#team .member:hover .member-info {
  background: rgba(0, 62, 128, 0.7);
  opacity: 1;
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  margin-top: 0;
  transition: margin 0.4s;
}

#team .member h4 {
  font-weight: 500;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #007bff;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Clients Section
--------------------------------*/

#clients {
  padding: 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#clients .clients-wrap {
  border-top: 1px solid #d6eaff;
  border-left: 1px solid #d6eaff;
  margin-bottom: 30px;
}

#clients .client-logo {
  padding: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #d6eaff;
  border-bottom: 1px solid #d6eaff;
  overflow: hidden;
  background: #fff;
  height: 160px;
}

#clients .client-logo:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#clients img {
  transition: all 0.4s ease-in-out;
}

/* Contact Section
--------------------------------*/

#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}

#contact .section-header {
  padding-bottom: 30px;
}

#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #007bff;
}

#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  color: #888;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #007bff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #007bff;
}

#contact .social-links a:hover {
  background: #007bff;
  color: #fff;
}

#contact .info {
  color: #283d50;
}

#contact .info i {
  font-size: 32px;
  color: #007bff;
  float: left;
  line-height: 1;
}

#contact .info p {
  padding: 0 0 10px 36px;
  line-height: 28px;
  font-size: 14px;
}

#contact .form #sendmessage {
  color: #007bff;
  border: 1px solid #007bff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .form button[type="submit"] {
  background: #007bff;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#contact .form button[type="submit"]:hover {
  background: #0067d5;
  cursor: pointer;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #212121;
  padding: 5px 0 5px 0;
  color: #eee;
  text-align: center;
  font-size: 12px;
}

#footer .footer-top {
  background: #004a99;
  padding: 60px 0 30px 0;
}

/*#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #ecf5ff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #007bff;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #0067d5;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
  color: #74b5fc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0062cc;
}
*/
.text-light-green{
  color: #8BC34A;
}

/*#footer .copyright {
  text-align: center;
  padding-top: 30px;
}*/

@media (max-width: 460px){
  .copyright{
    display: flex;
    align-items: center;
  }
  .copyright img{
    max-width: 30px;
  }
}
 

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

/*@media (min-width: 992px) {
  #testimonials .item p {
    width: 80%;
  }
}*/

@media (max-width: 991px) {
  #header {
    height: 60px;
    padding: 10px 0; 
  }
  .logo a{
    padding: 0;
    display: inline-block;
  }
  .center_sm{
    text-align: center;
  }

  /*#header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }*/

  #trip_summary {
    padding: 20px 0 60px 0;
    margin-top: 75px;
  }

  #trip_summary .intro-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }

  #trip_summary .intro-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }

  #why-us .card {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

@media (max-width: 767px) {
  .itinerary_title{
    font-size: 24px;
  }
  .itineraries_des{
    margin-top: 20px;
  }
  .sidebar{
    margin-top: 20px;
  }
  #trip_summary .intro-info {
    width: 100%;
  }

  #trip_summary .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
  }

  #testimonials .item {
    text-align: center;
  }

  #testimonials .item .testimonial-img {
    float: none;
    margin: auto;
  }

  #testimonials .item h3,
  #testimonials .item h4,
  #testimonials .item p {
    margin-left: 0;
  }
}

/*@media (max-width: 574px) {
  #trip_summary {
    padding: 100px 0 20px 0;
  }
}*/

.margin-bottom-15px {
    margin-bottom: 15px;
}
.decor_bottom{
  pointer-events: none;
    position: absolute;
    z-index: 10;
    width: 101%;
    bottom: -1px;
    left: 0; 
}
.decor_top{ 
    pointer-events: none; 
    position: relative;
    z-index: 3;
    margin-top: -73px;  
    width: 101%; 
}
.decor_top{
  width: 100%;
}
.decor_bottom svg, .decor_top svg{
    height: 100%; 
    width: 100%;
}
svg:not(:root) {
    overflow: hidden;
}
@media (min-width: 768px){
  .mobile_sticky{
    display: none;
  }
}
.mobile_sticky{
 background-color: #5897d2;
 text-align: center;
 color: #fff;
 padding-top: 8px;
 padding-bottom: 8px;
 position: fixed;
 width: 100%;
 z-index: 10;
 bottom: 0;
 left: 0;
}
.mobile_sticky a{
  color: #1b6a95;
    background-color: #fff;
    border-radius: 0.25rem;
    padding: 4px 6px;
}