<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Travel Itineraies</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"> 
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>  

    <!-- Loading bar -->
    <section id="load-screen"> 
        <div class="looding-in background-white padding-tb-200px z-index-99">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-lg-6 text-center"> 
                        <div class="loading-page">
                            <div class="counter">
                                <div class="text-center"><img src="images/logo-symbol.png" alt=""></div>
                                <div class="margin-tb-30px padding-8px background-white">
                                    <div class="animation padding-2px background-main-color"></div>
                                </div>
                                <div>loading <span class="num">0%</span></div>
                            </div>
                        </div> 
                    </div>
                </div> 
            </div> 
        </div>
    </section>
    <!-- // Loading bar -->




    <header class="background-white">
        <div id="fixed-header">
        <div class="background-dark padding-tb-5px">
            <div class="container">
                <div class="row">
                    <div class="col-sm d-sm-block">
                        <ul class="user-area list-inline float-right margin-0px text-white">
                            <li class="list-inline-item  padding-right-10px"><a href="#"><i class="fa fa-info-circle padding-right-5px"></i>About Us</a></li>
                            <li class="list-inline-item  padding-right-10px"><a href="#"><img src="images/contact-us-icon.png" class="padding-right-5px"> Contact Us</a></li>
                            <li class="list-inline-item dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user-plus padding-right-5px"></i>Login</a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item text-up-small" href="#">Real Traveller Login</a>
    <a class="dropdown-item text-up-small" href="#">Sign in</a>
    <a class="dropdown-item text-up-small" href="#">Sign up</a>
  </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Begin menu--><div class="header-output background-white box-shadow">
            <div class="container header-in">
                <div class="row">
                    <div class="col-lg-3">
                        <a id="logo" href="index.html" class="d-inline-block margin-tb-10px"><img src="images/logo.png" alt="Travel Itineraries"></a>
                        <a class="mobile-toggle" href="#"><i class="fa fa-navicon"></i></a>
                    </div>
                    <div class="col-lg-9 position-inherit">
                        <ul id="menu-main" class="nav-menu float-right link-padding-tb-20px">
                            <li class="active"><a href="#"><img src="images/travel-itineraries-icon.png" alt="Travel Itineraries"> Travel Itineraries
                                                </a>
                                
                            </li>
                            <li><a href="#"><img src="images/things-to-do-icon.png" alt="Things to do"> Things to do
                                                  </a>
                                 
                            </li>

                            <li><a href="#"><img src="images/travel-stories-icon.png" alt="Stories"> Stories
                                                </a>
                                 
                            </li>

                            <li><a href="#"><img src="images/real-travellers-icon.png" alt="Real Travellers"> Real Travellers
                                                </a>
                                
                            </li>
                            <li><a href="#"><img src="images/itinerary-builder-icon.png" alt="Itinerary Builder"> Itinerary Builder
                                                </a>
                                
                            </li>
                            <li class="search_bar_sm">
                                <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for Destinations, Itineraries and Things to do" aria-label="Text input with dropdown button">                                 
                                <span class="input-group-btn">
                                    <button class="btn btn-primary border-0 " type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                            </li>
                          
                        </ul> 
                    </div>
                </div>
            </div>
        </div><!-- End menu--> 
        </div><!-- /.header menu-->
    </header> 

    <section class="background-grey-2 padding-tb-20px text-center clearfix">
        <div class="container"> 
            <h1 class="font-weight-700 text-blue float-md-left h4">
                Stories Detail</h1>
            <ol class="breadcrumb no-background float-md-right margin-bottom-0px">
                <li><a href="index.html" class="text-grey-4">Home</a></li>
                <li><a href="travel-stories-by-real-travelers.html" class="text-grey-4">Travel Stories by Real Travelers</a></li>
                <li class="active text-blue">Stories Detail </li>
        </ol>
        </div>
    </section>


     
     <section class="padding-tb-70px">
        <div class="container">
            <div class="row">  
                <!--  content -->
                <div class="col-lg-8 col-md-8 sticky-content">
                    <div class="row">
                     <div class="margin-bottom-10px col-lg-12">   
                        <h2 class="title h5">Bike Trip to Leh Ladakh - Himachal | KTM Duke 390 | Road Trip</h2>  
                    </div>
                    <div class="col-lg-6">
                    <div class="social-icon-box-sm margin-bottom-10px">
                        <span class="text-medium">Share with us</span>
                        <a href="https://www.instagram.com/adventourist.in/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/adventourist.in/" target="_blank">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="https://twitter.com/adventourist_in" target="_blank">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                        <a href="https://plus.google.com/u/0/114642601326030302421" target="_blank">
                            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                        <a href="mailto:travelitineraries.in@gmail.com" target="_blank">
                            <i class="fa fa-at" aria-hidden="true"></i>
                        </a>
                    </div> </div><!-- /.col --> 
                    <div class="col-lg-6 text-right">
                        <a href="javascript:;" data-toggle="modal" data-target="#add_to_bucket">
                            <i class="fa fa-heart-o"></i>
                            <span>Add Fav</span>
                         </a>
                         <!-- <a href="javascript:;" class="added_favorite">
                            <i class="fa fa-heart"></i>
                            <span>Unfav</span>
                         </a> -->
                    </div><!-- /.col -->

                    </div><!-- /.row -->
                    <!-- post -->
                    <div class="blog-entry background-white margin-bottom-35px box-shadow-2">
                        <div>
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/zHEtM4SYdKY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="padding-30px">
                            <div class="meta margin-bottom-15px"> 
                                <span class="margin-right-10px text-small">Travel Itinerary by :  <span class="text-blue">Chirag Joshi</span></span>
                                 <span class="margin-right-10px text-small">Stay Days :  <span class="text-blue">6 Days</span></span>
                                <span class="margin-right-10px text-small">Destination :  <span class="text-blue">name of place</span></span>
                                <span class="margin-right-10px text-small">Suitable for :  <span class="text-blue">Solo</span></span>
                                <span class="text-small">Theme :  <span class="text-blue">Adventure</span></span>
                            </div> 
                            <p class="text-large text-dark font-weight-700">Wander with a plan - Travel Itineraries</p> 
                            <p class="text-medium text-grey-4">Get Road trip plans, travel itineraries to destinations in India and across the world from real trip planners. These itineraries are real travel and trip plan straight from real travelers and not designed by a travel company or a content writer. Enjoy these itineraries and Trip plans for free and explore the unexplored.</p>
                            <p class="text-medium text-grey-4">If travelling is your fills your soul, write to us on <a href="mailto:travelitineraries.in@gmail.com" class="font-weight-700">travelitineraries.in@gmail.com</a> with your brief profile and places you have travelled. If you are a real traveler, we will we shall feature you on <a href="http://www.travelitineraries.in/" class="font-weight-700">www.travelitineraries.in</a>.</p>
                            <p class="text-large text-dark font-weight-700">Don't be a tourist, be a traveler - Things to do</p>
                            <p class="text-medium text-grey-4">You do not need a robot trip and travel itinerary planner You always wanted to visit the places and do things that are truly local to your travel destination, travel itineraries is the platform which provides things to do at places you visit straight from locals and travelers. These things to do will have uncommon places, non commercial places you can explore and visit during your trip.</p>
                            <p class="text-large text-dark font-weight-700">Read real travel stories - Stories</p>
                            <p class="text-medium text-grey-4">Travel stories are exclusively written by real travelers and explorers for travelitineraries.in With every trip began their quest, quest to explore the unexplored, go to places where no tourist ever went, find routes that would take us there. After a few road trips we realized that our stories were worth sharing and experiences never die. These stories should inspire everyone to travel.</p>
                            <p class="text-large text-dark font-weight-700">Travel itinerary planner</p>
                            <p class="text-medium text-grey-4">This interactive tool will help you to plan your trips jointly with your friends and family. Add Destinations, get road maps, travel time and things to do in this interactive trip and travel itinerary planner. Add fellow travelers so they can give their inputs on real time.</p>
                            <p class="text-medium text-grey-4">And yes this is a passion project of a trapped corporate slave, Do get connected to us on facebook, twitter and instagram and share your love for travelling with us</p>
                            <p class="text-medium text-grey-4">Share your Travel stories, itineraries, pictures and videos to get featured on the Website on <a href="#" class="font-weight-700">travelitineraries.in@gmail.com</a></p> 
                        </div>
                    </div>
                    <!-- /.post --> 


                     
                </div>
                <!-- //  content --> 
                <!-- sidebar -->
                <aside class="col-lg-4 col-md-4 sticky-sidebar">  
                    <div class="widget box-shadow-2">  
                        <h4 class="widget-title"><span>Subscribe</span></h4>
                        <p class="text-medium">Subscribe to get free Trip and Travel Ideas</p>
                        <input class="form-control" type="text" placeholder="Enter your email*">
                        <a href="#" class="btn btn-block btn-primary margin-top-10px">Get Travel Updates</a> 
                    </div>
                    <div class="widget box-shadow-2">  
                        <h4 class="widget-title">
                            <span>Related Posts</span></h4>
                         <ul class="last-posts">
                            <li class="clearfix">
                                <span class="float-left margin-right-15px d-block width-60px"><img src="http://placehold.it/400x400" alt=""></span>
                                <a href="#" class="d-block text-uppercase text-medium text-dark font-weight-700">four days in las vegas</a>
                                <span class="text-extra-small">Date :  <a href="#" class="text-main-color">July 15, 2016</a></span> 
                            </li>
                            <li class="clearfix">
                                <span class="float-left margin-right-15px d-block width-60px"><img src="http://placehold.it/400x400" alt=""></span>
                                <a href="#" class="d-block text-uppercase text-medium text-dark font-weight-700">four days in las vegas</a>
                                <span class="text-extra-small">Date :  <a href="#" class="text-main-color">July 15, 2016</a></span> 
                            </li>
                            <li class="clearfix">
                                <span class="float-left margin-right-15px d-block width-60px"><img src="http://placehold.it/400x400" alt=""></span>
                                <a href="#" class="d-block text-uppercase text-medium text-dark font-weight-700">four days in las vegas</a>
                                <span class="text-extra-small">Date :  <a href="#" class="text-main-color">July 15, 2016</a></span> 
                            </li> 
                        </ul>  
                    </div>
                </aside> 
            </div>
        </div>
    </section>
 
 <section class="ptb-lg-70 background-grey-1">
            <div class="container">
                <div class="row padding-15px background-white">  
                    <div class="col-lg-6">
                        <div class="margin-bottom-20px section-title section-title-center col-lg-12">
                        <h3 class="title h4">
                         <span> Comment </span></h3> 
                    </div> 
                    <ul class="commentlist padding-0px margin-0px list-unstyled text-grey-3">
                        <li class="border-bottom-1 border-grey-1 margin-bottom-20px">
                            <img src="http://placehold.it/60x60" class="float-left margin-right-20px margin-bottom-20px" alt="">
                            <div class="margin-left-85px">
                                <span class="d-block text-dark text-medium font-weight-700">Rabie Elkheir </span> 
                                <p class="margin-top-5px">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                            </div>
                        </li> 
                        <li class="border-bottom-1 border-grey-1 margin-bottom-20px">
                            <img src="http://placehold.it/60x60" class="float-left margin-right-20px margin-bottom-20px" alt="">
                            <div class="margin-left-85px">
                                <span class="d-block text-dark text-medium font-weight-700">Rabie Elkheir </span> 
                                <p class="margin-top-5px">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
                            </div>
                        </li>
                    </ul> 
                    </div><!--/.col-->  
                    <div class="col-lg-6">
                        <div class="margin-bottom-20px section-title section-title-center col-lg-12">
                        <h3 class="title h4">
                         <span> Add Comment </span></h3> 
                    </div>  
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6"> 
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Website">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Comment"></textarea>
                    </div> 
                    <button type="button" class="btn btn-primary btn-block btn-lg text-center">Send</button> 
                    </div><!--/.col-->              
                </div><!-- // row-->
            </div>
        </section> 
         <section class="ptb-lg-70 background-white">
            <div class="container subscribe">
                <div class="row">
                 <div class="col-lg-6">
                    <div class="background-white padding-15px">
                    <div class="section-title section-title-center col-lg-12 margin-bottom-20px">
                        <h3 class="title h5"><span>Connect with us</span></h3><br>
                    </div> 
                    <div class="col-lg-12 social-icon-box text-center">
                        <a href="https://www.instagram.com/adventourist.in/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/adventourist.in/" target="_blank">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="https://twitter.com/adventourist_in" target="_blank">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                        <a href="https://plus.google.com/u/0/114642601326030302421" target="_blank">
                            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                        <a href="mailto:travelitineraries.in@gmail.com" target="_blank">
                            <i class="fa fa-at" aria-hidden="true"></i>
                        </a>
                    </div>
                    </div><!--/.background-white-->
                </div><!--/.col-->
                <div class="col-lg-6">
                    <div class="background-white padding-15px">
                    <div class="section-title section-title-center col-lg-12 margin-bottom-20px">
                        <h3 class="title h5"><span>Get Free Travel Updates and Holiday Ideas right in your Inbox</span></h3>
                    </div> 
                    <div class="col-lg-12">
                         <div class="form-group text-center">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="Enter your email*"> 
                                <button type="button" class="btn btn-primary btn-lg">Yes, Send me Holiday Ideas</button>
                            </div> 
                        </div> 
                       <div class="alert alert-danger margin-top-10px footersuberror" style="display:none">
                            
                        </div>
                        <div class="alert alert-success margin-top-10px footersubsuccess" style="display:none">
                        
                        </div> 
                    </div>
                    </div><!--/.background-white-->
                </div><!--/.col-->
                </div><!--/.row-->
            </div>
            </section>

   <!-- Footer -->
    <footer id="footer" class="background-dark text-center text-white">
        <div class="container">
            <div class="row padding-tb-15px"> 
                <div class="col-lg-12 footer_links margin-bottom-20px">
                    <a href="#" class="text-medium text-light-green">Terms &amp; Conditions</a>
                    <span class="text-white">|</span>
                    <a href="#" class="text-medium">Our Team</a>
                    <span class="text-white">|</span>
                    <a href="#" class="text-medium">Become a Contributor</a>
                    <span class="text-white">|</span>
                    <a href="#" class="text-medium">Submit Feedback</a>
                    <span class="text-white">|</span>
                    <a href="#" class="text-medium">FAQ's</a> 
                </div>
                <div class="col-lg-12">
                     <span class="text-light-green"><img src="images/logo-symbol.png" alt="Travel Itineraries"> travel itineraries</span><span class="margin-right-10px margin-left-10px">|</span>&copy; Copyright 2018 by Travel Itineraries.&nbsp;&nbsp;All rights Reserved. 
                </div>  
            </div>
        </div>
    </footer>
    <!-- // Footer -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>  
    <script type="text/javascript" src="js/loading.js"></script>  
    <script type="text/javascript" src="js/sticky-sidebar.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script> 
    <script type="text/javascript" src="js/popper.min.js"></script> 
    <script type="text/javascript" src="js/bootstrap.min.js"></script>  
    <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>
